<div style="display:block;overflow:hidden;vertical-align:top;">
  <h3><span style="horizontal-align:center"><%= link_to webpage.url, webpage %></span></h3>

  <%= link_to image_tag("http://api.thumbalizr.com/?api_key=ebddac5af4f9e9d1ff38cb98110250d2&url=#{webpage.url}&width=400", :height => 100), webpage.url %>

  <% num = webpage.photos.size %>
  <% if num > 0 %>
    <% webpage.photos.each do |photo| %>
      <%= link_to image_tag(photo.photo_url, :height => 100), photo %>
    <% end %>
  <% end %>
</div>
