<h1>Welcome#index</h1>

Welcome:
<br />
::Rails.root.to_s = <%= ::Rails.root.to_s %>
<br />

<%= link_to "Demo/host_settings", "demo/host_settings" %><br>
<%= link_to "Demo/host_scan", "demo/host_scan" %><br>
<%= link_to "Demo/site_urls", "demo/site_urls" %><br>
